<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Rut</th>
        <th>Direccion</th>
        <th>Region</th>
        <th>Comuna</th>
        <th>Correo electronico</th>
        <th>Id</th>
    </tr>
    <tr *ngFor="let item of listaUsuarios">
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.rut}}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.region}}</td>
        <td>{{item.comuna}}</td>
        <td>{{item.correo}}</td>
        <td>{{item.idUsuario}}</td>
    </tr>
</table>
