<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<div class="container text-center">
  <br>
  <br>
  <h2><font color="red">Bienvenido Administrador!</font></h2>
  <p><font color="white">Elija una opcion:</font></p>
    <div class="row">
        <div class="col-sm my-5 ">
                <h1><font color="yellow">Lista Usuarios:</font></h1>
            <button class="btn1" (click)=listaUsuarios()>
                <span class="textOut1"><b>Usuarios</b></span>
                <span class="textIn1"><b>Acceder</b></span>
            </button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm my-5">
                <h1><font color="blue">Lista Tickets:</font></h1>
            <button class="btn2" (click)=listaTickets()>
                <span class="textOut2"><b>Tickets</b></span>
                <span class="textIn2"><b>Acceder</b></span>
            </button>
        </div>
    </div>
</div>