<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form [formGroup]="formulario" (ngSubmit)="ingresar()">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar Sesion</label>
            <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Registrarse</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Correo electrónico</label>
                        <input id="user" type="text" class="input" formControlName="correo">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Contrasena</label>
                        <input id="pass" type="password" class="input" data-type="password" formControlName="contrasena">
                    </div>
                    <div class="checkbox">
                        <label class="label">
                            <input name="remember" type="checkbox" value="Remember Me"> Recordarme
                        </label>
                    </div>
                    <br>
                    <br>
                    <div class="group">
                        <!--<button [disabled]="formulario.invalid" class="button" type="button" [routerLink]="['/interfazcliente']" routerLinkActive="router-link-active">Iniciar sesión</button>-->
                        <button type="submit" [disabled]="formulario.invalid" class="button" [routerLink]="['/interfazcliente']" routerLinkActive="router-link-active">Iniciar sesión</button>
                    </div>
                    <div class="hr"></div>
                </div>
                <div class="for-pwd-htm">
                    <br><br><br>
                    <br><br><br>
                    <div class="group">
                        <input type="submit" class="button" value="Registrate Ahora!" [routerLink]="['/registro']" routerLinkActive="router-link-active">
                    </div>
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </div>
</form>