<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<form [formGroup]="formulario" >
    <div class="container register">
                    <div class="row">
                        <div class="col-md-3 register-left">
                            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                            <h3>Bienvenido</h3>
                            <p>Proyecto Final Ing. Web</p>
                            <input type="submit" name="" value="Login" /><br/>
                        </div>
                        <div class="col-md-9 register-right">
                            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <h3 class="register-heading">Registra tus datos</h3>
                                    <div class="row register-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" formControlName="nombre" class="form-control" placeholder="Nombres *" value="" />
                                                <div *ngIf="inputs.nombre.errors?.required && inputs.nombre.touched">Es necesario ingresar un nombre</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" formControlName="apellido" class="form-control" placeholder="Apellidos *" value="" />
                                                <div *ngIf="inputs.apellido.errors?.required && inputs.apellido.touched">Es necesario ingresar un apellido</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" formControlName="rut" class="form-control" placeholder="RUT *" value="" />
                                                <div *ngIf="inputs.rut.errors?.required && inputs.rut.touched">Es necesario ingresar un rut</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" formControlName="contrasena" class="form-control"  placeholder="Password *" value="" />
                                                <div *ngIf="inputs.contrasena.errors?.required && inputs.contrasena.touched">Es necesario ingresar una contraseña</div>
                                            </div>
                                            <div class="form-group">
                                                <div class="maxl">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" formControlName="correo" class="form-control" placeholder="Email *" value="" />
                                                <div *ngIf="inputs.correo.errors?.required && inputs.correo.touched">Es necesario ingresar un correo electronico</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" formControlName="direccion" class="form-control" placeholder="Direccion *" value="" />
                                                <div *ngIf="inputs.direccion.errors?.required && inputs.direccion.touched">Es necesario ingresar una direccion</div>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" formControlName="region" (change)="region=getValue($event)" required> 
                                                    <option value="" selected hidden>Region *</option>
                                                    <option *ngFor="let country of countries"  [value]="country.id">{{country.name}}</option>
                                                    <div *ngIf="inputs.region.errors?.required && inputs.region.touched">Es necesario ingresar una región</div>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" formControlName="comuna" required>
                                                    <option value="" selected hidden>Comuna *</option>
                                                    <option *ngFor="let city of cities" [value]="city">{{city}}</option>
                                                </select>
                                            </div>
                                            <button [disabled]="formulario.invalid" class="btnRegister" type="button" (click)="crearUsuario()" [routerLink]="['/']" routerLinkActive="router-link-active">Crear usuario</button>
                                            <!--<input type="submit" class="btnRegister"  value="Crear usuario" (click)="crearUsuario()" [routerLink]="['/']" routerLinkActive="router-link-active"/>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</form>