<form [formGroup]="formulario">
    <ul>
        <br>
        <li>
            <label>Categoria</label>
            <input type="text" formControlName="categoria">
            <div *ngIf="inputs.categoria.errors?.required && inputs.categoria.touched">Es necesario ingresar una categoria</div>
        </li>
        <br>
        <li>
            <label>Asunto</label>
            <input type="text" formControlName="asunto">
            <div *ngIf="inputs.asunto.errors?.required && inputs.asunto.touched">Es necesario ingresar un asunto</div>
        </li>
        <br>
        <li>
            <label>Estado</label>
            <select class="tipo" formControlName="estado">
                <option value="">Selecciona un estado</option>
                <option value="1">Abierto</option>
            </select>
            <div *ngIf="inputs.estado.errors?.required && inputs.estado.touched">Es necesario seleccionar un estado</div>
        </li>
        <br>
        <li>
            <label>Descripción</label>
            <input type=text formControlName="descripcion">
            <div *ngIf="inputs.descripcion.errors?.required && inputs.descripcion.touched">Es necesario ingresar una descripción</div>
        </li>
        <br>
        <li>
            <label>Prioridad</label>
            <select class="tipo" formControlName="prioridad">
                <option value="">Selecciona un estado</option>
                <option value="1">Alta</option>
                <option value="2">Media</option>
                <option value="3">Baja</option>
            </select>
            <div *ngIf="inputs.prioridad.errors?.required && inputs.prioridad.touched">Es necesario seleccionar una prioridad</div>
        </li>
        <br>
        <li>
            <button [disabled]="formulario.invalid" type="button" (click)="crearTicket()" [routerLink]="['/mistickets',idUsuario]" routerLinkActive="router-link-active">Actualizar</button>
        </li>
    </ul>
</form>
