<div class="container">
    <br><br>
    <p class="h2 text-center"><font color = white>Responder Ticket</font></p>
    <form [formGroup]="formulario">
        <div class="form-group">
            <label><font color="lightblue" size="5px">Categoria:</font></label>
            <input readonly="true" class="form-control" type="text" formControlName="categoria"/>
            <div *ngIf="inputs.categoria.errors?.required && inputs.categoria.touched">Es necesario ingresar una categoria</div>
        </div>
        <div class="form-group">
            <label><font color="yellow" size="5px">Asunto:</font></label>
            <input readonly="true" class="form-control" type="text" formControlName="asunto"/>
            <div *ngIf="inputs.asunto.errors?.required && inputs.asunto.touched">Es necesario ingresar un asunto</div>
        </div>
        <div class="form-group">
            <label><font color="pink" size="5px">Descripcion:</font></label>
            <textarea readonly="true" class="form-control" type=text formControlName="descripcion"></textarea>
            <div *ngIf="inputs.descripcion.errors?.required && inputs.descripcion.touched">Es necesario ingresar una descripción</div>
        </div>
        <div class="form-group">
            <label><font color="lightgreen" size="5px">Prioridad:</font></label>
            <br>
            <select class="tipo" formControlName="prioridad">
                <option value="" disabled hidden>Selecciona la prioridad</option>
                <option value="1">Alta</option>
                <option value="2">Media</option>
                <option value="3">Baja</option>
            </select>
            <div *ngIf="inputs.prioridad.errors?.required && inputs.prioridad.touched">Es necesario seleccionar una prioridad</div>
        </div>
        <div class="form-group">
            <label><font color="purple" size="5px">Estado</font></label>
            <br>
            <select class="tipo" formControlName="estado">
                <option value="">Selecciona un estado</option>
                <option value="0">Abierto</option>
                <option value="1">En desarrollo</option>
                <option value="2">Cerrado</option>
            </select>
            <div *ngIf="inputs.estado.errors?.required && inputs.estado.touched">Es necesario seleccionar un estado</div>
        </div>
        <div class="form-group">
            <label><font color="cyan" size="5px">Respuesta</font></label>
            <input type="textArea" formControlName="respuesta">
            <div *ngIf="inputs.respuesta.errors?.required && inputs.respuesta.touched">Es necesario dar una respuesta</div>
        </div>
        <div class="form-group">
            <button [disabled]="formulario.invalid" type="button" (click)="editarTicket()" [routerLink]="['/listatickets']" routerLinkActive="router-link-active">Actualizar</button>
        </div>
    </form>
</div>