<div id="BigBox">
    <div id= "Abiertas">
        <ul class="list-group" *ngFor="let item of listaTickets">
            <li class="list-group-item" *ngIf="item.prioridad == 1 && item.idUsuario==this.idUsuario">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Prioridad: Alta</div>
                    <div class="card-body">
                        <p class="card-text">{{item.categoria}}</p>
                        <h5 class="card-title">{{item.asunto}}</h5>
                        <p class="card-text">{{item.descripcion}}</p>
                        <h6 class="card-subtitle">{{item.estado}}</h6>
                        <p class="card-text">{{item.respuesta}}</p> 
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div id= "EnProceso">
        <ul class="list-group" *ngFor="let item of listaTickets">
            <li class="list-group-item" *ngIf="item.prioridad == 2 && item.idUsuario==this.idUsuario">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Prioridad: Media</div>
                    <div class="card-body">
                        <p class="card-text">{{item.categoria}}</p>
                        <h5 class="card-title">{{item.asunto}}</h5>
                        <p class="card-text">{{item.descripcion}}</p>
                        <h6 class="card-subtitle">{{item.estado}}</h6>
                        <p class="card-text">{{item.respuesta}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <br>
    <div id= "Cerrada">
        <ul class="list-group" *ngFor="let item of listaTickets">
            <li class="list-group-item" *ngIf="item.prioridad == 3 && item.idUsuario==this.idUsuario">
                <div class="card text-white bg-danger  mb-3">
                    <div class="card-header">Prioridad: Baja</div>
                    <div class="card-body">
                        <p class="card-text">{{item.categoria}}</p>
                        <h5 class="card-title">{{item.asunto}}</h5>
                        <p class="card-text">{{item.descripcion}}</p>
                        <h6 class="card-subtitle">{{item.estado}}</h6>
                        <p class="card-text">{{item.respuesta}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
                